<!-- navbar.component.html -->
<!-- 
 created by Greg Burris - 2025
 powered by Nyhte Studios
 -->
<!-- navbar for mobile -->
<div class="show-on-mobile hide-on-desktop">
    <!-- off screen menu -->
    <div class="off-screen-menu" [class.active]="active" (click)="onBurgerClicked()">
        <!-- logo/title -->
        <h1><a id="logo-mobile-off-screen-menu">NAME FILMS</a></h1>
        <!-- service links -->
        <ul class="services-off-screen-menu">
            <li><a class="underline-text-mobile" href="#">Services</a></li>
            <li><a class="underline-text-mobile" href="#">Colors</a></li>
            <li><a class="underline-text-mobile" href="#">Contact</a></li>
        </ul>
        <!-- social media links -->
        <li class="social-media-links-off-screen-menu">
            <a class="underline-text-social-mobile" href="#"><i class="fab fa-facebook"></i></a>
            <a class="underline-text-social-mobile" href="#"><i class="fab fa-twitter"></i></a>
            <a class="underline-text-social-mobile" href="#"><i class="fab fa-instagram"></i></a>
        </li>
    </div>
    <!-- initial mobile menu -->
    <div class="background-image-mobile">
        <header>
            <nav class="navbar-mobile">
                <!-- logo/title -->
                <h1><a id="logo-mobile">NAME FILMS</a></h1>
                <!-- hamburger menu -->
                <div class="ham-menu" [class.active]="active" (click)="onBurgerClicked()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </nav>
        </header>
        <div class="background-container-mobile hide-on-mobile-phone">
             <!-- text -->
            <p class="sub-text-mobile">VISUAL STORYTELLING<br>TO SPARK IMAGINATION.</p>
        </div>
    </div>
</div>
<!-- navbar for Desktop -->
<div class="show-on-desktop hide-on-mobile">
    <!-- background-image -->
    <div class="background-image">
        <header>
            <!-- social media links -->
            <li class="social-media-links">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
            <nav class="navbar">
                <!-- logo/title -->
                <h1><a id="logo">NAME FILMS</a></h1>
                <!-- service links -->
                <ul>
                    <li><a class="underline-text" href="#">Services</a></li>
                    <li><a class="underline-text" href="#">Colors</a></li>
                    <li><a class="underline-text" href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        <div class="background-container">
            <!-- text -->
            <p class="sub-text">VISUAL STORYTELLING<br>TO SPARK IMAGINATION.</p>
        </div>
    </div>
</div>